.selected {
  color: blue;
  text-align: center;
  width: 100px;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  border-bottom: 2px solid blue;
}
.none {
  width: 100px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}
